{% load static %}
<article class="row pt-header">
    <h1 class="text-center fw-bold SelfStorage_green mb-4">Чем мы можем помочь?</h1>
    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end mb-3 mb-lg-0">
        <div class="d-flex flex-column align-items-center align-items-lg-start px-4 py-4 SelfStorage__card SelfStorage_green SelfStorage__bg_green">
            <h1 class="text-white fw-bold">Личные вещи</h1>
            <div>
                <span class="text-white">Сезонное хранение</span><br>
                <span class="text-white">Во время переезда</span><br>
                <span class="text-white">Документы</span><br>
                <span class="text-white">Дачные вещи</span><br>
                <span class="text-white">Другие идеи хранения</span>
            </div>

            <h4 class="text-white mt-5 mb-3">{{ min_price }} р. за 1 м2</h4>
            <a href="{% url 'storage:boxes' %}" class="btn fs_24
                    SelfStorage_green bg-white SelfStorage__btn_green border-8 w-50 py-3">Подробнее</a>
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start">
        <div class="d-flex flex-column align-items-center align-items-lg-start px-4 py-4 SelfStorage__card SelfStorage_orange SelfStorage__bg_orange">
            <h1 class="text-white fw-bold">Для бизнеса</h1>
            <div>
                <span class="text-white">Сезонное хранение</span><br>
                <span class="text-white">Техника и мебель</span><br>
                <span class="text-white">Документы</span><br>
                <span class="text-white">Непродовольственные товары</span><br>
                <span class="text-white">Другие идеи хранения</span>
            </div>
            <h4 class="text-white mt-5 mb-3">Бокс от 210 р. за м²</h4>
            <button class="btn fs_24 SelfStorage_orange bg-white
            SelfStorage__btn_orange border-8 w-50 py-3">Скоро </button>
        </div>
    </div>
</article>