{% extends "base.html" %}
{% load static %}
{% block title %}SelfStorage{% endblock %}
{% block content %}
    <main class="container mt-header">
        {% include "includes/top-banner.html" %}
        {% include "includes/features_section.html" %}
        {% include "includes/personal-vs-business.html" %}
        {% include "includes/video-banner.html" %}
        {% include "includes/box_rental_advantages.html" %}
        {% include "includes/storage-card.html" %}
        {% include "includes/testimonial_item.html" %}
    </main>
{% endblock %}