{% extends "base.html" %}
{% load static %}
{% block title %}My Rent{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <main class="container mt-header ">
        <div class="row" role="tablist">
            {% include "includes/small-menu.html" %}
            <div class="col-lg-9">
                <div class="card tab-content p-5">
                        <h1 class="fw-bold SelfStorage_green mb-3">Добрый день, {{ user.first_name }}!</h1>
                        {% if has_expiring %}
                            <h4 class="SelfStorage_grey my-3">
                                Срок одного или нескольких заказов подходит к концу!<br>
                            </h4>
                        {% endif %}
                        <a href="#" class="SelfStorage_orange mb-5">История аренды</a>
                        {% if orders %}
                            {% for order in orders %}
                                <div class="mb-5 pt-2">
                                    {% if order.days_left != None and order.days_left <= 3 %}
                                        <h5 class="SelfStorage_grey my-3">
                                          Срок аренды подходит к концу. Вы можете продлить аренду или забрать вещи до {{ order.end_storage|date:"d.m.Y" }} включительно.
                                        </h5>
                                      {% endif %}
                                    <h4 class="SelfStorage_green">{{ order.cell.address.name }}</h4>
                                    <h4>{{ order.cell.address.address }}</h4>
                                    <h4 class="SelfStorage_green">{{ order.cell.cell_size.size }}</h4>
                                    <h4>{{ order.id }}</h4>
                                    <h4 class="SelfStorage_green">Срок аренды</h4>
                                    <h4>{{ order.start_storage|date:"d.m.Y" }} — {{ order.end_storage|date:"d.m.Y" }}</h4>
                                    <div>
                                        <form action="{% url 'storage:extend_rent' order.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">
                                                Продлить аренду
                                            </button>
                                        </form>
                                    </div>
                                    <div>
                                        <button type="button" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3" data-bs-toggle="modal" data-bs-target="#myModal">
                                          Открыть бокс
                                        </button>
                                    </div>
                                    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">Перечень вещей</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                          </div>
                                          <div class="modal-body">
                                              <h5 class="SelfStorage_gray">{{ order.node }}</h5>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <a href="#" class="SelfStorage_orange">Нужна помощь?</a>
                                </div>
                            {% endfor %}
                        {% else %}
                          <h4>У вас нет заказов.</h4>
                        {% endif %}
                </div>
            </div>
        </div>
    </main>
{% else %}
    <main class="container mt-header">
        <div class="row top-up butt-up" role="tablist">
            <span class="fs_24 ">Войдите в учетную запись
                <a class="fs_24 SelfStorage_orange" href=
                        "{% url 'users:login' %}">войти</a>,
                 или
                 <a class=" fs_24 SelfStorage_orange" href=
                         "{% url 'users:login' %}">зарегистрируйтесь</a>.
            </span>
        </div>
    </main>
{% endif %}
{% endblock %}